{% extends 'index.html' %}

{% load static %}

{% block title %}
<title>Sobre nosotros | Qatar World Cup 2022</title>
{% endblock %}

{% block contents %}
<main class="text-center">
    <section>
        <article>
            <p>El objetivo de este proyecto es claro....</p>
            <blockquote>Divertirse coleccionando los stickers de todas las selecciones clasificadas al mundial y compartir con amigos los resultados</blockquote>
        </article>
    </section>
    <section class="about-images">
        <article>
            <h2>Sobre nosotros</h2>
            <img
                    class="image-about"
                    src="/static/AppQatarWC2022/assets/agustin-sticker.jpg"
                    alt="Imagen de Agustin Salvidio, representando en el sticker que es un desarrollador full stack Jr a pasos de llegar a semi-senior, fánatico de Boca."
                    height="250"
                    width="175"
            />
            <img
                    class="image-about"
                    src="/static/AppQatarWC2022/assets/alan-sticker.jpg"
                    alt="Imagen de Alan Schanzenbach, representando en el sticker que es un desarrollador trainee, con deseos de ascender de categoría."
                    height="250"
                    width="175"
            />      
        </article>

        <section>
        <article>
            <p>Agustin Salvidio, representando en el sticker que es un desarrollador full stack Jr a pasos de llegar a semi-senior, fánatico de Boca.</p>
            <p>Alan Schanzenbach, representando en el sticker que es un desarrollador trainee, con deseos de ascender de categoría.</p>
        </article>
    </section>
</main>
{% endblock%}