<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="countries_modal">Paises Clasificados</h5>
        <a class="btn waves-effect waves-light icofont icofont-ui-close" data-bs-dismiss="modal" onclick="location.href='{% url 'my_album'  %}'"></a>
      </div>
        <div class="modal-body">
            <section class="login-block">
                <!-- Container-fluid starts -->
                <div class="container-fluid">
                    {% for country in working_context.qualified_countries %}
                    <button type="button" style="background-color:#56042C;; border-color:#56042C;; color:white " class="btn waves-effect waves-light" onclick="location.href='{% url 'update_current_album_page' country.name %}'">
                        {{ country }}
                    </button>
                    {% endfor %}
                </div>
                <!-- end of container-fluid -->
            </section>    
        </div>
        <div class="modal-footer">
            <button type="button" style="background-color:#8b8b8b;; border-color:#8b8b8b;; color:rgb(255, 255, 255)" class="btn btn-sm waves-effect waves-light pull-right" data-bs-dismiss="modal" onclick="location.href='{% url 'my_album'  %}'" >
                Cerrar
            </button>
        </div>
    </div>
  </div>