{% extends 'index.html' %}

{% load static %}

{% block title %}
<title>Inicio | Qatar World Cup 2022</title>
{% endblock %}

{% block contents %}
<section>
    <h1>Bienvenido!</h1>
    <h4>Qatar World Cup 2022 es un aplicativo gratis mediante el cual se puede completar el álbum del mundial 2022 y pasar un buen rato!</h3>
    <h4>En próximas actualizaciones, se irán incorporando nuevas funcionalidades y opciones para seguir mejorando el aplicativo.</h3>
    <h4>Les deseamos buena suerte en esta aventura coleccionable!</h3>
    </section>
{% endblock%}