{% extends 'index.html' %}

{% load static %}

{% block title %}
<title>Mi Álbum | Qatar World Cup 2022</title>
{% endblock %}

{% block contents %}
<div class="text-center">
    <h2 class="section-heading text-uppercase">Stickers</h2>
</div>
<div class="row">
    <div class="col">
        <!-- CountrySticker - 0-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#">
                <img class="" src="/media/avatars/argentina.jpg" alt="..." height="250" width="175" />
            </a>
        </div>
    </div>
    <div class="col">
        <!-- PlayerSticker - 1-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="" src="/media/avatars/emiliano-martinez.jpg" alt="..." height="250" width="175" />
            </a>
        </div>
    </div>
    <div class="col">
        <!-- PlayerSticker - 2-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="" src="/media/avatars/marcos-acuña.jpg" alt="..." height="250" width="175" />
            </a>
        </div>
    </div>
    <div class="col">
        <!-- PlayerSticker - 3-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="" src="/media/avatars/not-found.jpg" alt="..." height="250" width="175" />
            </a>
        </div>
    </div>
    <div class="col">
        <!-- PlayerSticker - 4-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="" src="/media/avatars/not-found.jpg" alt="..."  height="250" width="175"/>
            </a>
        </div>
    </div>
    <div class="col">
        <!-- PlayerSticker - 5-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="" src="/media/avatars/not-found.jpg" alt="..." height="250" width="175" />
            </a>
        </div>
    </div>
</div>
<div class="col">
    <!-- PlayerSticker - 6-->
    <div class="portfolio-item">
        <a class="portfolio-link" data-bs-toggle="modal" href="#">
            <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="" src="/media/avatars/to-add.jpg" alt="..." height="250" width="175" />
        </a>
    </div>
</div>
<div class="col">
    <!-- PlayerSticker - 7-->
    <div class="portfolio-item">
        <a class="portfolio-link" data-bs-toggle="modal" href="#">
            <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="" src="/media/avatars/angel-dimaria.jpg" alt="..." height="250" width="175" />
        </a>
    </div>
</div>
<div class="col">
    <!-- PlayerSticker - 8-->
    <div class="portfolio-item">
        <a class="portfolio-link" data-bs-toggle="modal" href="#">
            <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="" src="/media/avatars/not-found.jpg" alt="..." height="250" width="175" />
        </a>
    </div>
</div>
<div class="col">
    <!-- PlayerSticker - 9-->
    <div class="portfolio-item">
        <a class="portfolio-link" data-bs-toggle="modal" href="#">
            <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="" src="/media/avatars/leandro-paredes.jpg" alt="..."  height="250" width="175"/>
        </a>
    </div>
</div>
<div class="col">
    <!-- PlayerSticker - 10-->
    <div class="portfolio-item">
        <a class="portfolio-link" data-bs-toggle="modal" href="#">
            <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="" src="/media/avatars/to-add.jpg" alt="..." height="250" width="175" />
        </a>
    </div>
</div>
<div class="col">
    <!-- PlayerSticker - 11-->
    <div class="portfolio-item">
        <a class="portfolio-link" data-bs-toggle="modal" href="#">
            <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="" src="/media/avatars/lionel-messi.jpg" alt="..." height="250" width="175" />
        </a>
    </div>
</div>
</div>

{% endblock %}

{% block modals %}

{% endblock %}
