{% extends 'index.html' %}

{% load static %}

{% block title %}
<title>Mi Álbum | Qatar World Cup 2022</title>
{% endblock %}

{% block contents %}
<div class="text-center">
    <h2 class="section-heading text-uppercase">Stickers</h2>
</div>
<div class="divider-custom">
</div>
<div class="text-center">
    <div class="row">
        <div class="col">
            <!-- CountrySticker - 0-->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#">
                    <img class="" src="/media/stickers/argentina.jpg" alt="..." height="250" width="175" />
                </a>
            </div>
        </div>
        <div class="col">
            <!-- PlayerSticker - 1-->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#">
                    <img class="" src="/media/stickers/emiliano-martinez.jpg" alt="..." height="250" width="175" />
                </a>
            </div>
        </div>
        <div class="col">
            <!-- PlayerSticker - 2-->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#">
                    <img class="" src="/media/stickers/marcos-acuña.jpg" alt="..." height="250" width="175" />
                </a>
            </div>
        </div>
        <div class="col">
            <!-- PlayerSticker - 3-->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#">
                    <img class="" src="/media/stickers/not-found.jpg" alt="..." height="250" width="175" />
                </a>
            </div>
        </div>
        <div class="col">
            <!-- PlayerSticker - 4-->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#">
                    <img class="" src="/media/stickers/not-found.jpg" alt="..."  height="250" width="175"/>
                </a>
            </div>
        </div>
        <div class="col">
            <!-- PlayerSticker - 5-->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#">
                    <img class="" src="/media/stickers/not-found.jpg" alt="..." height="250" width="175" />
                </a>
            </div>
        </div>
    </div>
    <div class="divider-custom">
    </div>
    <div class="row">
        <div class="col">
            <!-- PlayerSticker - 6-->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#">
                    <img class="" src="/media/stickers/to-add.jpg" alt="..." height="250" width="175" />
                </a>
            </div>
        </div>
        <div class="col">
            <!-- PlayerSticker - 7-->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#">
                    <img class="" src="/media/stickers/angel-dimaria.jpg" alt="..." height="250" width="175" />
                </a>
            </div>
        </div>
        <div class="col">
            <!-- PlayerSticker - 8-->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#">
                    <img class="" src="/media/stickers/not-found.jpg" alt="..." height="250" width="175" />
                </a>
            </div>
        </div>
        <div class="col">
            <!-- PlayerSticker - 9-->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#">
                    <img class="" src="/media/stickers/leandro-paredes.jpg" alt="..."  height="250" width="175"/>
                </a>
            </div>
        </div>
        <div class="col">
            <!-- PlayerSticker - 10-->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#">
                    <img class="" src="/media/stickers/to-add.jpg" alt="..." height="250" width="175" />
                </a>
            </div>
        </div>
        <div class="col">
            <!-- PlayerSticker - 11-->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#">
                    <img class="" src="/media/stickers/lionel-messi.jpg" alt="..." height="250" width="175" />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="divider-custom">
</div>
<div class="text-center">
    <button style="background-color:#56042C;; border-color:#56042C;; color:white " class=" btn waves-effect waves-light"><i class="icofont icofont-arrow-left "></i>
    </button>
    <button style="background-color:#56042C;; border-color:#56042C;; color:white " class=" btn waves-effect waves-light">
        ARGENTINA
    </button>
    <button style="background-color:#56042C;; border-color:#56042C;; color:white " class=" btn waves-effect waves-light"><i class="icofont icofont-arrow-right"></i>
    </button>

</div>

{% endblock %}

{% block modals %}

{% endblock %}
