<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="player_sticker_modal">Modificación de Sticker</h5>
        <a class="btn waves-effect waves-light icofont icofont-ui-close" data-bs-dismiss="modal" onclick="location.href='{% url 'player_stickers'  %}'"></a>
      </div>
      <form action="{% url 'player_sticker_update' player_sticker.id  %}" method="POST"> {% csrf_token %}
        <div class="modal-body">
            <section class="login-block">
                <!-- Container-fluid starts -->
                <div class="container-fluid">
                    <div class="form-group form-primary">
                        <div class="form-group form-primary">
                            <label class="float-label" for="{{ form.first_name.id_for_label }}">Nombre</label>
                            {{ form.first_name }}
                            <span class="form-bar"></span>
                        </div>
                        <div class="form-group form-primary">
                            <label class="float-label" for="{{ form.last_name.id_for_label }}">Apellido</label>
                            {{ form.last_name }}
                            <span class="form-bar"></span>
                        </div>
                        <div class="form-group form-primary">
                            <label class="float-label" for="{{ form.birthdate.id_for_label }}">Fecha de Nacimiento</label>
                            {{ form.birthdate }}
                            <span class="form-bar"></span>
                        </div>
                        <div class="form-group form-primary">
                            <label class="float-label" for="{{ form.country.id_for_label }}">País</label>
                            {{ form.country }}
                            <span class="form-bar"></span>
                        </div>
                        <div class="form-group form-primary">
                            <label class="float-label" for="{{ form.position.id_for_label }}">Posición</label>
                            {{ form.position }}
                            <span class="form-bar"></span>
                        </div>
                        <div class="form-group form-primary">
                            <label class="float-label" for="{{ form.sticker_image.id_for_label }}">Subir sticker</label>
                            {{ form.sticker_image }}
                            <span class="form-bar"></span>
                        </div>                                 
                    </div> 
                </div>
                <!-- end of container-fluid -->
            </section>    
        </div>
        <div class="modal-footer">
            <button type="button" style="background-color:#8b8b8b;; border-color:#8b8b8b;; color:rgb(255, 255, 255)" class="btn waves-effect waves-light" data-bs-dismiss="modal" onclick="location.href='{% url 'player_stickers'  %}'">
                Cerrar
            </button>
            <button type="submit" style="background-color:#56042C;; border-color:#56042C;; color:white " class="btn waves-effect waves-light">
                Modificar
            </button>
        </div>
      </form>
    </div>
  </div>