{% extends 'index.html' %}

{% load static %}

{% block title %}
<title>Cartas | Qatar World Cup 2022</title>
{% endblock %}

{% block contents %}
<div align="right">
            <a href="{% url 'player_card_registration' %}" >
                <button style="background-color:#56042C;; border-color:#56042C;; color:white " class=" btn waves-effect waves-light"><i class="icofont icofont-plus"></i>Agregar</button>
            </a>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Fecha de Nacimiento</th>
                <th>País</th>
                <th>Posición</th>
            </tr>
        </thead>
    {% if player_cards %}
        <tbody>
            {% for player_card in player_cards %}
            <tr>
                <td>{{ player_card.full_name }}</td>
                <td>{{ player_card.birthdate }}</td>
                <td>{{ player_card.country }}</td>
                <td>{{ player_card.position }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    </table>
        <h4>No se encontraron cartas de jugadores</h4>
    {% endif %}  
{% endblock %}