{% extends 'index.html' %}

{% load static %}

{% block title %}
<title>Stickers de Jugadores | Qatar World Cup 2022</title>
{% endblock %}

{% block contents %}
<legend>
    Administrar Stickers de Jugadores
    <div class="btn-toolbar pull-right">
        <div class="btn-group pull-right">
            <!-- Button trigger modal -->
            <button style="background-color:#56042C;; border-color:#56042C;; color:white " class=" btn btn-sm waves-effect waves-light pull-right" onclick="registration_modal('{% url 'player_sticker_registration' %}')"><i class="icofont icofont-plus"></i>
                Agregar
            </button>
        </div>
    </div>
</legend>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Fecha de Nacimiento</th>
                <th>País</th>
                <th>Posición</th>
                <th>Acciones</th>
            </tr>
        </thead>
    {% if working_context.player_stickers %}
            {% for player_sticker in working_context.player_stickers %}
            <tr>
                <td>{{ player_sticker.full_name }}</td>
                <td>{{ player_sticker.birthdate }}</td>
                <td>{{ player_sticker.country }}</td>
                <td>{{ player_sticker.position }}</td>
                <td>
                    <a class="btn btn-sm waves-effect waves-light icofont icofont-ui-edit" onclick="update_modal('{% url 'player_sticker_update' player_sticker.id %}')"></a>
                    <a class="btn btn-sm waves-effect waves-light icofont icofont-close" onclick="unregistration_modal('{% url 'player_sticker_unregistration' player_sticker.id %}')"></a>   
                </td>
            </tr>
            {% endfor %}
    </table>
    {% else %}
    </table>
        <h4>No se encontraron stickers de jugadores</h4>
    {% endif %}  
{% endblock %}

{% block modals %}
  
  <div class="modal fade" id="player_sticker_registration_modal" tabindex="-1" aria-labelledby="player_sticker_registration_modal" aria-hidden="true">
  
  </div>

  <div class="modal fade" id="player_sticker_update_modal" tabindex="-1" aria-labelledby="player_sticker_update_modal" aria-hidden="true">
  
  </div>

  <div class="modal fade" id="player_sticker_unregistration_modal" tabindex="-1" aria-labelledby="player_sticker_unregistration_modal" aria-hidden="true">
  
</div>

 <script type="text/javascript">
    var $ = jQuery.noConflict();
    function registration_modal(url){
        $('#player_sticker_registration_modal').load(url,function (){
            $(this).modal('show');
        });
    }
    function unregistration_modal(url){
        $('#player_sticker_unregistration_modal').load(url,function (){
            $(this).modal('show');
        });
    }
    function update_modal(url){
        $('#player_sticker_update_modal').load(url,function (){
            $(this).modal('show');
        });
    }
 </script> 
{% endblock %}
