{% extends 'index.html' %}

{% load static %}

{% block title%}
<title>Cartas | Qatar World Cup 2022</title>
{% endblock %}

{% block contents%}
<div align="right">
            <a href="" >
                <button style="background-color:#56042C;; border-color:#56042C;; color:white " class=" btn waves-effect waves-light"><i class="icofont icofont-plus"></i>Agregar</button>
            </a>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Fecha de Nacimiento</th>
                <th>País</th>
                <th>Posición</th>
            </tr>
        </thead>
        <tbody>
            {% for player_card in player_cards %}
            <tr>
                <td>{{ user.full_name }}</td>
                <td>{{ user.birthdate }}</td>
                <td>{{ user.country }}</td>
                <td>{{ user.position }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}