{% extends 'index.html' %}

{% load static %}

{% block title%}
<title>Códigos Promocionales | Qatar World Cup 2022</title>
{% endblock %}

{% block contents%}
<legend>
    Administrar Códigos Promocionales
    <div class="btn-toolbar pull-right">
        <div class="btn-group pull-right">
            <!-- Button trigger modal -->
            <button style="background-color:#56042C;; border-color:#56042C;; color:white " class=" btn btn-sm waves-effect waves-light" onclick="registration_modal('{% url 'element_registration' working_context.current_object.class_name working_context.current_form.class_name %}')"><i class="icofont icofont-plus"></i>
                Agregar
            </button>
        </div>
    </div>
</legend>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Acciones</th>
            </tr>
        </thead>
    {% if working_context.promo_codes %}
            {% for promo_code in working_context.promo_codes %}
            <tr>
                <td>{{ promo_code.code }}</td>
                <td>
                    <a class="btn btn-sm waves-effect waves-light icofont icofont-ui-edit" onclick="update_modal('{% url 'promo_code_update' promo_code.id %}')"></a>
                    <a class="btn btn-sm waves-effect waves-light icofont icofont-close" onclick="unregistration_modal('{% url 'element_unregistration' promo_code.id working_context.current_object.class_name working_context.current_form.class_name %}')"></a>   
                </td>
            </tr>
            {% endfor %}
    </table>
    {% else %}
    </table>
        <h4>No se encontraron códigos promocionales</h4>
    {% endif %}
{% endblock %}

{% block modals %}
  
  <div class="modal fade" id="promo_code_registration_modal" tabindex="-1" aria-labelledby="promo_code_registration_modal" aria-hidden="true">
  
  </div>

  <div class="modal fade" id="promo_code_update_modal" tabindex="-1" aria-labelledby="promo_code_update_modal" aria-hidden="true">
  
  </div>

  <div class="modal fade" id="promo_code_unregistration_modal" tabindex="-1" aria-labelledby="promo_code_unregistration_modal" aria-hidden="true">
  
</div>

 <script type="text/javascript">
    var $ = jQuery.noConflict();
    function registration_modal(url){
        $('#promo_code_registration_modal').load(url,function (){
            $(this).modal('show');
        });
    }
    function unregistration_modal(url){
        $('#promo_code_unregistration_modal').load(url,function (){
            $(this).modal('show');
        });
    }
    function update_modal(url){
        $('#promo_code_update_modal').load(url,function (){
            $(this).modal('show');
        });
    }
 </script> 
{% endblock %}