<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="promo_code_modal">Alta de Código</h5>
        <a class="btn waves-effect waves-light icofont icofont-ui-close" data-bs-dismiss="modal"></a>
      </div>
      <form action="{% url 'promo_code_registration' %}" method="POST"> {% csrf_token %}
        <div class="modal-body">
            <section class="login-block">
                <!-- Container-fluid starts -->
                <div class="container-fluid">
                    <div class="form-group form-primary">
                        <label class="float-label" for="{{ form.code.id_for_label }}">Código</label>
                        {{ form.code }}
                        <span class="form-bar"></span>
                    </div> 
                </div>
                <!-- end of container-fluid -->
            </section>    
        </div>
        <div class="modal-footer">
            <button style="background-color:#8b8b8b;; border-color:#8b8b8b;; color:rgb(255, 255, 255)" class="btn waves-effect waves-light" data-bs-dismiss="modal">
                Cerrar
            </button>
            <button type="submit" style="background-color:#56042C;; border-color:#56042C;; color:white " class="btn waves-effect waves-light">
                Agregar
            </button>
        </div>
      </form>
      
    </div>
  </div>