{% extends 'index.html' %}

{% load static %}

{% block title %}
<title>Usuarios | Qatar World Cup 2022</title>
{% endblock %}

{% block contents %}
{{ error_message }}
<div align="left">
    <form action="{% url 'filtered_users' %}" method="GET"> {% csrf_token %}
        <input type="text" name="first_name" id="first_name">       
        <button type="submit" style="background-color:#56042C;; border-color:#56042C;; color:white " class=" btn waves-effect waves-light"><i class="icofont icofont-filter"></i>Filtrar</button>
    </form>
</div>
<div align="right">
    <a href="{% url 'user_registration' %}" >
        <button style="background-color:#56042C;; border-color:#56042C;; color:white " class=" btn waves-effect waves-light"><i class="icofont icofont-plus"></i>Agregar</button>
    </a>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Fecha de Nacimiento</th>
                <th>Edad</th>
                <th>País</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
    {% if users %}
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.full_name }}</td>
                <td>{{ user.birthdate }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.country }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a class="icofont icofont-ui-edit" href="{% url 'user_update' user.id %}"></a>
                    <a class="icofont icofont-close" href="{% url 'user_delete' user.id %}"></a>   
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    </table>
        <h4>No se encontraron usuarios</h4>
    {% endif %}  
    
{% endblock %}