{% extends 'index.html' %}

{% load static %}

{% block title%}
<title>Edición de Usuario | Qatar World Cup 2022</title>
{% endblock %}

{% block contents%}
Edición del Usuario {{ user }}
<form action="{% url 'user_update' user.id %}" method="POST"> {% csrf_token %}
<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form class="md-float-material form-material">
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center txt-primary">Editar Usuario</h3>
                                </div>
                            </div>
                            <div class="form-group form-primary">
                                <label class="float-label">Nombre</label>
                                <input type="text" name="user_first_name" class="form-control">
                                <span class="form-bar"></span>
                            </div>
                            <div class="form-group form-primary">
                                <label class="float-label">Apellido</label>
                                <input type="text" name="user_last_name" class="form-control">
                                <span class="form-bar"></span>
                            </div>
                            <div class="form-group form-primary">
                                <label >Fecha de Nacimiento</label>
                                <input type="date" name="user_birthdate" class="form-control">
                                <span class="form-bar"></span>
                            </div>
                            <div class="form-group form-primary">
                                <label class="float-label">País</label>
                                <input type="text" name="user_country" class="form-control">
                                <span class="form-bar"></span>
                                
                            </div>
                            <div class="form-group form-primary">
                                <label class="float-label">Email</label>
                                <input type="text" name="user_email" class="form-control">
                                <span class="form-bar"></span>
                            </div>                               
                                <div align="right">
                                    <button type="submit" style="background-color:#56042C;; border-color:#56042C;; color:white " class=" btn waves-effect waves-light"><i class="icofont icofont-plus"></i>Confirmar</button>
                                </div>                            
                            <hr/>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>
</form>
{% endblock %}